.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form * {
  margin: 0.4rem;
}
.form input {
  padding: 0.3rem;
  border: none;
  outline: none;
}

.form button {
  max-width: 10rem;
  background-color: purple;
  color: white;
}
