.card {
  background-color: white;
  box-shadow: 0 0 2rem 0.5rem rgb(43, 43, 43, 0.5);
  padding: 2rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
